[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git", ref = "rewrite"}
dynaconf = "*"
aiohttp = "*"
redis = "*"
hiredis = "*"
aioredis = "*"
faker = "*"

[dev-packages]
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
